@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Karla:wght@400;700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@700&family=Open+Sans:wght@300&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Raleway:wght@400;700&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Karla:wght@400;700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@700&family=Open+Sans:wght@300;400&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Raleway:wght@400;700&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');

* {
   box-sizing: border-box; 
}

body {
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 1.2em;
}

img {
    max-width: 100%;
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;

}

.flex {
    display: flex;
    align-items: center;
    flex: wrap;
}

.flex > div {
    flex: 1;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}


nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul a {
    color: hsl(243, 87%, 12%);
    text-decoration: none;
}

/* Form */

form {

}

input {

}

button {

}