@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Karla:wght@400;700&family=Manrope:wght@700&family=Open+Sans:wght@300&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&display=swap');

/* - Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%) */

* { 
    box-sizing: border-box;
}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
    min-height: 100vh;

}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0,5);
    width: 800;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 35px;
}

.cyan {
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.cyanish {
    background-color: hsl(179, 44%, 51%);
    color: white;
}

.row {
    display: flex;
}

.row > section {
    flex: 1;
}

h1 {
    color: hsl(179, 62%, 43%);
    font-size: 35px;
}

.byellow-text {
    color: hsl(71, 73%, 54%);
}

.cyan p {
    color: white;
}

p {
    font-size: 17px;
    color: hsl(203, 36%, 77%);
    font-weight: 700;
}

p.lightgrey {
    color: #999;
    margin: 7px;
}

p.fade {
    color: hsl(178, 59%, 76%);
    display: flex;
    align-items: center;
}

p.fade span {
    color: white;
    font-size: 50px;
    margin-right: 13px;
}

button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0,5);
    border-radius: 5px;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 20px 0;
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    opacity: 0.7;
}

ul li {
    line-height: 28px;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}